<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.usercenter" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.media.action.IMAGE_CAPTURE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="Usercenter"
        tools:replace="android:label"
        >
        <activity android:name=".ui.activity.RegisterActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar"
                  android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.ForgetActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.kotlin.user.ui.activity.ResetPwdActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".ui.activity.UserInfoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    </application>

</manifest>

